{%-set className = resolver.cpp_resolve_namespace(ns)+Name%}
{%-set exception %}{{resolver.cpp_get_lib_ns() | join('::')}}::JsonSchemaException{%endset%}
{%-set std = resolver.cpp_resolve_namespace(['std']) %}
{%-set exception %}{{resolver.cpp_get_lib_ns() | join('::')}}::JsonSchemaException{%endset%}
{{className}}::{{Name}}(const {{std}}string& value)
{
    Set(value);
}

{{className}}::{{Name}}(const char* value)
{
    Set(value);
}

{{className}}::{{Name}}()
{
    {%-if schema.default is defined %}
    Set("{{schema.default}}");
    {%-endif%}
}

{{className}}::{{Name}}(const {{Name}}& other)
{
    _value = other._value;
}

{{className}}::operator {{std}}string() const
{
    return GetString();
}

{{className}}& {{className}}::operator=(const {{std}}string& value)
{
    Set(value);
    return *this;
}

{{className}}& {{className}}::operator=(const char* value)
{
    Set(value);
    return *this;
}

{{className}}& {{className}}::operator=(const std::chrono::system_clock::time_point& value)
{
    Set(value);
    return *this;
}
{%for origNs in originalNamespace %}
namespace {{origNs}} {
{%-endfor%}  
{{std}}ostream& operator<<({{std}}ostream& os, const {{className}}& obj)
{
    os << obj.GetString();
    return os;
}
{%for origNs in originalNamespace %}}{%-endfor%} // end namespaces

void {{className}}::Set(const {{std}}string& value)
{
    try
    {
        std::tm t = {};
        if (strptime(value.c_str(), "%Y-%m-%dT%H:%M:%S%z", &t) == nullptr) {
            throw std::runtime_error("Failed to parse filename time string");
        }

        std::time_t timet = timegm(&t);
        Set(std::chrono::system_clock::from_time_t(timet));
    }
    catch (const std::exception& e)
    {
        throw {{exception}}({{std}}string("Could not parse timestamp: ") + e.what());
    }
}

void {{className}}::Set(const char* value)
{
    Set(std::string(value));
}

void {{className}}::Set(const std::chrono::system_clock::time_point& datetime)
{
    _value = datetime;
}

void {{className}}::SetNow()
{
    Set(std::chrono::system_clock::now());
}

void {{className}}::SetCurrent{{schema.format | PascalCase}}()
{
    _value = std::nullopt;
}

std::string {{className}}::GetString() const
{
    std::array<char, 512> buf;
    
    std::time_t timet = std::chrono::system_clock::to_time_t(Get());
    std::tm tm_buf = {};
    auto tm = gmtime_r(&timet, &tm_buf);
    if (tm == nullptr) {
        throw {{exception}}({{std}}string("Could not format timestamp: gmtime"));    
    }

    auto len = strftime(buf.data(), buf.size(), "%Y-%m-%dT%H:%M:%SZ", tm);
    if (len == 0) {
        throw {{exception}}({{std}}string("Could not format timestamp: strfime"));        
    }

    return std::string(buf.data(), len);
}

bool {{className}}::IsCurrentTime() const
{
    return _value.has_value();
}

std::chrono::system_clock::time_point {{className}}::Get() const
{
    return _value.value_or(std::chrono::system_clock::time_point());
}

{{className}} {{className}}::FromJson(const nlohmann::json& json)
{
    if (!(json.is_string()))
    {
        throw {{exception}}("Not a string");
    }

    return {{className}}(json.get<std::string>());
}

{{className}} {{className}}::FromString(const {{std}}string& str)
{
    return {{className}}(str);
}

void {{className}}::ToJson(nlohmann::json& value) const
{
    value = GetString();
}

void {{className}}::SetHandle(const std::string& handle)
{
    _handle = handle;
}

std::string {{className}}::GetHandle() const
{
    return _handle;
}