{%-set className = resolver.cpp_resolve_namespace(ns)+Name%}
{%-set exception %}{{resolver.cpp_get_lib_ns() | join('::')}}::JsonSchemaException{%endset%}
{{className}}::{{Name}}()
{
}

std::nullopt_t {{className}}::Get() const
{
    return std::nullopt;
}

{{className}} {{className}}::FromJson(const nlohmann::json& json)
{
    if (!(json.is_null()))
    {
        throw {{exception}}("Not the NULL value");
    }

    return {{className}}();
}

void {{className}}::ToJson(nlohmann::json& value) const
{
    value = nullptr;
}

void {{className}}::SetHandle(const std::string& handle)
{
    _handle = handle;
}

std::string {{className}}::GetHandle() const
{
    return _handle;
}